html,body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.bg {
  width: 100%;
  height: 312px;
  background: linear-gradient(to bottom, pink, transparent);
  background-size: cover!important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

footer {
  background: linear-gradient(to right, fuchsia, tomato);
}
